
.login{
    background: linear-gradient(144.9063727226063deg , rgba(250, 205, 145, 1) 28.000000000000004%, rgba(250, 248, 145, 1) 92%);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

div{
    display: block;
}

.login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    background: white;
    height: 900px;
}

.login_container h1{
    text-align: center;
    padding: 0 0 20px 0;
    padding-top: 50px;
}

.login_container h3{
    text-align: center;
    padding-bottom: 50px;
}

.login_container form{
    padding: 0 100px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    margin: 30px 0;
}

.txt_field input{
    width: 60%;
    padding: 5px 5px;
    height: 40px;
    font-size: 16px;
    position: relative;
    left: 140px;
    top: 10px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-style: solid;
    border-color:  #d3d3d3;
    border-radius: 4px;
    border-width: 2px;
    text-indent: 0px;
    text-shadow: none;
    box-shadow: none;
}

.txt_field label{
    position: absolute;
    left: 140px;
    color: #8c8c8c;
    transform: translateY(-100%);
    font-size: 16px;

}

.remember{
    position: relative;
    left: 160px;
    color: #8c8c8c;
}

.check{
    position: relative;
    left: -140px;
}
.forgot{
    position: absolute;
    bottom: 392px;
    left: 480px;
}

.forgot a{
    text-decoration: none;
    color: rgb(43, 158, 217);
}

input[type="submit"]{
    border-width: 0px;
    position: absolute;
    left: 285px;
    top: 700px;
    width: 320px;
    height: 50px;
    background: inherit;
    background-color: rgba(30, 152, 215, 1);
    border: none;
    border-radius: 73px;
    box-shadow: none;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgba(30, 132, 207, 1);
}

.signup_link{
    position: absolute;
    bottom: 100px;
    left: 320px;
    color: #8c8c8c;
}

.signup_link a{
    text-decoration: none;
    color: rgb(43, 158, 217);
}

/* homepage*/

.home{
    width: 100%;
    height: 60%;
}

.account{
    display: inline-block;
    width: 88px;
    height: 81px;
    position: absolute;
    right: 69px;
    top: 41px;
    border-radius: 50%;
}

.room_container{
    width: 100%;
    height: 100%;
}

.create_room{
    width: 50%;
    float: left;
    /* margin-left: 350px; */
    height: 100%;
}

.create_room img{
    /* position: absolute;
    left: 450px; */
    padding-left: 360px;
    height: 18%;
}

.create_text{
    /* position: absolute;
    left: 420px;
    bottom: 100px; */
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    /* padding-left: 340px; */
    float: left;
    height: 10em;
}

.create_text span{
    word-break: normal;
    width: 100%;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 28px;
}



.create_text span:nth-of-type(2){
    /* position: relative;
    left: -90px; */
    /* padding-left: -50px;
    text-align:left; */
}

.span1{
    padding-left: 360px;
    height: 18%;
}

.span2{
    padding-left: 260px;
    height: 18%;
}

.create{
    margin-left: 350px;
    /* height: 18%; */
}

.create_text button{
    /* position: relative;
    left: 30px; */
    width: 31%;
    height: 30%;
    background: inherit;
    background-color: rgba(51, 51, 51, 1);
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 1);
    border-radius: 71px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 35%);
    font-size: 26px;
    color: rgba(255, 255, 255, 0.996078431372549);
    cursor: pointer;
}

.join_room{
    width: 50%;
    float: right;
    height: 100%;
}

.join_room img{
    /* position: absolute;
    right: 450px; */
    padding-left: 400px;
    height: 18%;
}

.join_text{
    /* position: absolute;
    right: 420px;
    bottom: 100px; */
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    float: left;
}

.join_text span{
    word-break: normal;
    width: auto;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 28px;
    /* position: relative;
    right: -40px; */
}

.span3{
    padding-left: 350px;
    height: 18%;
}

.span4{
    padding-left: 355px;
    height: 18%;
}

.join_text span:nth-of-type(2){
    /* position: relative;
    right: -60px; */
}

.join_text button{
    /* position: relative;
    right: -85px; */
    margin-left: 350px;
    width: 207px;
    height: 47px;
    background: inherit;
    background-color: rgba(51, 51, 51, 1);
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 1);
    border-radius: 71px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 35%);
    font-size: 26px;
    color: rgba(255, 255, 255, 0.996078431372549);
    cursor: pointer;
}

/* pop-up*/

.room_info input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.popup{
    display: none; 
    position: absolute; 
    top: 35%; 
    left: 37%; 
    width: 500px; 
    height: 240px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
}

.popup2{
    display: none; 
    position: absolute; 
    top: 35%; 
    left: 37%; 
    width: 500px; 
    height: 240px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: auto;
}

.popup2 img{
    position: relative;
    left: 45%;
    top: 10px;
}

.popup2 .room_type{
    position: absolute;
    top: 38%;
}

.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}

.close_button{
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 35px;
    cursor: pointer;
}

.close_button2{
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 35px;
    cursor: pointer;
}

.room_type{
    position: absolute;
    left: 28%;
    top: 10%;
    font-size: 20px;
}

.room_type label{
    padding-right: 40px;
}

.room_info{
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: 25px;
}

.room_info input{
    width: 70px;
}

.room_info label{
    display: inline-block;
    margin-bottom: 25px;
}

.confirm_create{
    position: absolute;
    bottom: 10px;
    left: 35%;
    width: 170px;
    height: 40px;
    background: inherit;
    background-color: rgba(51, 51, 51, 1);
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 1);
    border-radius: 71px;
    box-shadow: 3px 2px 3px rgb(0 0 0 / 35%);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.996078431372549);
    cursor: pointer;
}

.confirm_join{
    position: absolute;
    bottom: 25px;
    left: 35%;
    width: 170px;
    height: 40px;
    background: inherit;
    background-color: rgba(51, 51, 51, 1);
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 1);
    border-radius: 71px;
    box-shadow: 3px 2px 3px rgb(0 0 0 / 35%);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.996078431372549);
    cursor: pointer;
}

/* rabbit guide*/

.rabbit{
    width: 160px;
    height: 180px;
    float: left;
    position: absolute;
    left: 40%;
    top: 50%;
    display: block; 
    position: absolute; 
    background-color: transparent; 
    z-index:1002; 
    overflow: auto;
}

.rabbit2{
    width: 400px;
    /* height: 180px; */
    float: left;
    position: absolute;
    left: 31%;
    top: 56%;
    display: none; 
    position: absolute; 
    background-color: transparent; 
    z-index:1002; 
    overflow: auto;
}

.rabbit3{
    width: 400px;
    /* height: 180px; */
    float: left;
    position: absolute;
    left: 53%;
    top: 56%;
    display: none; 
    position: absolute; 
    background-color: transparent; 
    z-index:1002; 
    overflow: auto;
}

.rabbit4{
    width: 400px;
    /* height: 180px; */
    float: left;
    position: absolute;
    right: 5%;
    top: 12%;
    display: none; 
    position: absolute; 
    background-color: transparent; 
    z-index:1002; 
    overflow: auto;
}

.rabbit5{
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;
    left: 35%;
    top: 56%;
    display: none; 
    position: absolute; 
    background-color: transparent; 
    z-index:1002; 
    overflow: auto;
}

.black{
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}

.guide_div {
    display: block; 
    position: absolute; 
    top: 38%; 
    left: 48%; 
    width: 260px; 
    height: 120px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: auto;
}

.guide_div2{
    display: none; 
    position: absolute; 
    bottom: 30%; 
    left: 27%; 
    width: 215px; 
    height: 70px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: none;
}

.guide_div3{
    display: none; 
    position: absolute; 
    bottom: 31%; 
    right: 22%; 
    width: 215px; 
    height: 70px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: none;
}

.guide_div4{
    display: none; 
    position: absolute; 
    top: 14%; 
    right: 1%; 
    width: 215px; 
    height: 70px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: none;
}

.guide_div5{
    display: none; 
    position: absolute; 
    bottom: 37%; 
    left: 44%; 
    width: 215px; 
    height: 70px; 
    border: 10x solid black; 
    background-color: white; 
    z-index:1002; 
    overflow: none;
}

/* .text1::before{
    background-color: #F2F2F2;
    bottom: -5px;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    content: " ";
    display: block;
    height: 13px;
    left: 5px;
    position: absolute;
    transform: rotate(-35deg) skew(-35deg);
    width: 15px;
} */

#fade1{
    display: block;
}

.light3{
    display: block;
}

.light4{
    display: block;
}

.light5{
    display: block;
}

.light6{
    display: block;
}

.light7{
    display: block;
}

.text1{
    font-size: 10px;
    position: absolute;
    top: 25px;
    /* background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;   
    margin: 5px 45px 5px 20px;     */
}

.guide_text2 span{
    font-size: 14px;
    position: absolute;
    top: 20px;
}

.guide_text3 span{
    font-size: 14px;
    position: absolute;
    top: 20px;
}

.guide_text4 span{
    font-size: 14px;
    position: absolute;
    top: 20px;
}

.guide_text5 span{
    font-size: 14px;
    position: absolute;
}

.close_guide_button{
    position: absolute;
    right: 14px;
    top: 0px;
    font-size: 20px;
    cursor: pointer;
}

.close_guide_button2{
    position: absolute;
    left: 184px;
    top: -2px;
    font-size: 20px;
    cursor: pointer;
}

.close_guide_button3{
    position: absolute;
    left: 184px;
    top: -2px;
    font-size: 20px;
    cursor: pointer;
}

.close_guide_button4{
    position: absolute;
    left: 184px;
    top: -2px;
    font-size: 20px;
    cursor: pointer;
}

.next{
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.next2{
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.next3{
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.next4{
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.back{
    position: absolute;
    right: 35px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.back2{
    position: absolute;
    right: 35px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.back3{
    position: absolute;
    right: 35px;
    bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

.repeat, .end{
    font-size: 10px;
}

.repeat{
    position: absolute;
    right: 52px;
    bottom: 4px;
    cursor: pointer;
}

.end{
    position: absolute;
    right: 14px;
    bottom: 4px;
    cursor: pointer;
}

/* main page*/


